/* RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  /* RESET END */

  /* BODY */

  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) .5fr;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: white;
  }

  /* BODY END */

  /* HEADER START */

  header {
    grid-column: 1/1;
    grid-row: 1/2;
    width: 100%;
  }

  .header-container {
    grid-column: 1/1;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  .header-image {
    width: 100%;
    height: 100%;
    grid-column: 1/4;
  }

  .logo {
    grid-column: 2/3;
    justify-self: center;
    align-self: start;
    width: 220px;
    height: 220px;
    margin-top: -50px;
    cursor: pointer;
    position: absolute;
  }

    /* NAV STYLES */

    .icon-container {
      grid-column-start: 3;
      grid-column-end: 4;
      position: absolute;
      justify-self: end;
      margin-top: 3%;
      margin-right: 5%;
    }

    .nav-icon-one {
      width: 40px;
      border: 2px solid white;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
      position: relative;
    }
  
    .nav-icon-two {
      width: 40px;
      border: 2px solid white;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
      margin-top: 6px;
    }
  
    .nav-icon-three {
      width: 40px;
      border: 2px solid white;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
      margin-top: 6px;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0);
      }
  
      100% {
        transform: rotateY(-180deg);
      }
    }
  
    .icon-container:hover {
      cursor: pointer;
      animation: rotate .5s ease-in-out 1;
    }

    nav {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }

    .navigation {
      grid-column: 3/4;
      justify-self: end;
      position: absolute;
      background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
      height: 100%;
      width: 0;
      transition: width 0.5s ease-in-out;
      height: 129%;
    }

    .exit {
      width: 25px;
      height: 25px;
      margin: 5% 0 0 5%;
    }

    .exit:hover {
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      grid-row: 1/4;
      line-height: 100px;
      font-size: 1.2rem;
    }

    .service {
      display: grid;
      grid-template-columns: 1fr;
      height: 25%;
      grid-row: 2/3;
      align-self: start;
    }

    .sunday {
      grid-column: 1/2;
      grid-row: 2/3;
      display: none;
      justify-self: center;
      align-self: start;
    }

    .tuesday {
      grid-column: 1/2;
      grid-row: 3/4;
      display: none;
      justify-self: center;
      align-self: start;
    }

    .cena {
      grid-column: 1/2;
      grid-row: 4/5;
      display: none;
      justify-self: center;
      align-self: start;
    }

    .vigil {
      grid-column: 1/2;
      grid-row: 5/6;
      display: none;
      justify-self: center;
      align-self: start;
    }

    /* NAV END */

    /* MAIN CONTENT STYLES */

    main {
      grid-row: 2/3;
      grid-column: 1/2;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color 1s ease-in-out;
    }

    .contact-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: .3fr repeat(5, .2fr);
      width: 50%;
      height: 50%;
      border: 5px solid white;
    }

    h1 {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: center;
      align-self: start;
      color: black;
      transition: color 1s ease-in-out;
    }

    form {
      grid-column: 2/3;
      grid-row: 2/7;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr) 1fr 1fr;
    }

    .form-description {
      grid-column: 1/2;
      grid-row: 1/3;
      align-self: start;
    }

    .form-image {
      grid-column: 1/2;
      grid-row: 1/7;
      height: 100%;
      width: 100%;
    }

    .form-row1 {
      grid-row: 1/2;
      align-self: start;
      justify-self: center;
    }

    .form-row2 {
      grid-row: 2/3;
      align-self: start;
      justify-self: center;
    }

    .form-row3 {
      grid-row: 3/4;
      justify-self: center;
      align-self: start;
    }

    .form-row4 {
      grid-row: 4/5;
      justify-self: center;
      align-self: start;
    }

    textarea {
      height: 100px;
      width: 400px;
    }

    button {
      grid-row: 5/6;
      height: 50px;
      width: 75px;
      justify-self: center;
      align-self: center;
    }
