/* RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* RESET END */

/* ROOT VARIABLES */

:root {
--header-width: 100%;
}

/* BODY */

body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, .50fr) .02fr;
  overflow-x: hidden;
}

a {
text-decoration: none;
color: white;
}
/* HEADER */

header {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.hands {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
}

.logo {
justify-self: center;
grid-column-start: 2;
grid-column-end: 3;
position: absolute;
width: 220px;
height: 220px;
align-self: start;
margin-top: -50px;
cursor: pointer;
}

.container {
grid-column-start: 1;
grid-column-end: 3;
display: grid;
grid-template-columns: repeat(3, 1fr);
height: 100%;
}
    /* NAV START */

    .navigation {
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: end;
      position: absolute;
      background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
      height: 133.2%;
      width: 0px;
      overflow: hidden;
      transition: width 0.5s ease-in-out;
    }

    nav {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }

    .exit {
      width: 25px;
      height: 25px;
      margin: 5% 0 0 5%;
    }

    .exit:hover {
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      grid-row-start: 1;
      grid-row-end: 5;
      line-height: 100px;
      font-size: 1.2rem;
    }

    .nav-icon-one {
      width: 40px;
      border: 2px solid white;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
      position: relative;
    }

    .nav-icon-two {
      width: 40px;
      border: 2px solid white;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
      margin-top: 6px;
    }

    .nav-icon-three {
      width: 40px;
      border: 2px solid white;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
      margin-top: 6px;
    }

    .icon-container {
      grid-column-start: 3;
      grid-column-end: 4;
      position: absolute;
      justify-self: end;
      margin-top: 3%;
      margin-right: 5%;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0);
      }

      100% {
        transform: rotateY(-180deg);
      }
    }


    .icon-container:hover {
      cursor: pointer;
      animation: rotate .5s ease-in-out 1;
    }

    .service {
      display: grid;
      grid-template-columns: 1fr;
      /* grid-template-rows: repeat(5, .3fr); */
      height: 25%;
    }

    .dropdown {
      /* width: 100%;
      height: 100%; */
      grid-column: 1/2;
      grid-row: 2/6;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, .1fr);
      background-color: white;
      z-index: 1;
    }

    .sunday {
      grid-column: 1/2;
      grid-row: 2/3;
      display: none;
      justify-self: center;
      align-self: start;
    }

    .tuesday {
      grid-column: 1/2;
      grid-row: 3/4;
      display: none;
      justify-self: center;
      align-self: start;
    }

    .cena {
      grid-column: 1/2;
      grid-row: 4/5;
      display: none;
      justify-self: center;
      align-self: start;
    }

    .vigil {
      grid-column: 1/2;
      grid-row: 5/6;
      display: none;
      justify-self: center;
      align-self: start;
    }

    /* NAV END */


main {
grid-row-start: 2;
grid-row-end: 4;
grid-column-start: 1;
grid-column-end: 4;
}

.history {
grid-column-start: 1;
grid-column-end: 4;
display: grid;
grid-template-columns: repeat(3, 1fr);
height: 1200px;
}

.text {
width: 100%;
height: 1200px;
position: relative;
grid-column-start: 1;
grid-column-end: 4;
}

.history-title {
justify-self: center;
grid-column-start: 2;
grid-column-end: 3;
position: absolute;
color: white;
font-size: 2rem;
align-self: center;
}

.history-btn {
height: 50px;
width: 120px;
grid-column-start: 2;
grid-column-end: 3;
position: absolute;
justify-self: center;
align-self: end;
margin-bottom: 10%;
border: none;
border-radius: 35px;
font-weight: bold;
}

.history-btn a {
color: black;
}

.history-btn a:active {
color: grey;
}

.history-btn:hover {
cursor: pointer;
}

.schedule {
grid-column-start: 1;
grid-column-end: 4;
display: grid;
grid-template-columns: repeat(3, 1fr);
height: 1200px;
}

.seats {
width: 100%;
height: 1200px;
position: relative;
grid-column-start: 1;
grid-column-end: 4;
}

.service-title {
justify-self: center;
grid-column-start: 2;
grid-column-end: 3;
position: absolute;
color: white;
font-size: 2rem;
align-self: center;
}

.service-btn {
height: 50px;
width: 120px;
grid-column-start: 2;
grid-column-end: 3;
position: absolute;
justify-self: center;
align-self: end;
margin-bottom: 10%;
border: none;
border-radius: 35px;
line-height: 15px;
font-weight: bold;
}

.service-btn:hover {
cursor: pointer;
}

footer {
grid-row-start: 4;
grid-row-end: 5;
grid-column-start: 1;
grid-column-end: 4;
}

.footer-container {
grid-column-start: 1;
grid-column-end: 4;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
width: 100%;
height: 200px;
}

.footer-logo {
  width: 50px;
  height: 50px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  align-self: center;
  margin-left: 15%;
}

.long-logo {
  width: 105px;
  height: 105px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  margin-right: 38%;
}

.footer-container ul li a {
  color: black;
  text-decoration: underline;
}

.footer-container li {
  margin-bottom: -55px;
}

.footer-list {
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;
  margin-right: 30%;
  font-size: 1rem;
  font-weight: bold;
}

.insta {
  height: 18px;
  width: 18px;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
  margin-right: 25%;
}

.insta:hover {
  cursor: pointer;
}

/* MEDIA QUERIES */

@media (max-width: 1199px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width: 1600px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .long-logo {
    margin-right: 32%;
  }
}

@media (max-width: 1440px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .long-logo {
    margin-right: 28%
  }
}

@media (max-width: 1280px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .navigation {
    height: 150%;
  }

  .long-logo {
    margin-right: 22%;
  }
}

@media (max-width: 1200px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .long-logo {
    margin-right: 20%;
  }
}

@media (max-width: 1024px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .hands {
    width: 100%;
    height: 100%;
  }

  main {
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, .2fr);
  }

  .history {
    grid-row: 1/2; 
    height: 100%;
  }

  .text {
    height: 100%;
  }

  .schedule {
    grid-row: 2/3;
    height: 100%;
  }

  .seats {
    height: 100%;
  }

  .long-logo {
    margin-right: 12%;
  }

  .footer-list {
    margin-right: 20%;
  }
}

@media (max-width: 1100px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .hands {
    width: 100%;
    height: 100%;
  }

  main {
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, .2fr);
  }

  .history {
    grid-row: 1/2;
    height: 100%;
  }

  .text {
    height: 100%;
  }

  .schedule {
    grid-row: 2/3;
    height: 100%;
  }

  .seats {
    height: 100%;
  }

  footer {
    grid-row: 4/5;
    height: 100%;
  }

  .long-logo {
    margin-right: 15%;
  }
}

@media (max-width: 900px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .long-logo {
    margin-right: 4%;
  }

  .footer-list {
    margin-right: 10%;
  }
}

@media (max-width: 800px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .footer-list {
    margin-right: 7%;
  }

  .long-logo {
    margin-right: -6%;
  }
}

@media (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .footer-list {
    margin-right: 5%;
  }

  .long-logo {
    margin-right: -10%;
  }
}

@media (max-width: 428px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -10%;
    z-index: 1;
  }

  .icon-container {
    position: absolute;
    top: 20px;
    right: 8%;
    margin-top: 0;
    margin-right: 0;
    z-index: 2;
  }

  .nav-icon-one, .nav-icon-two, .nav-icon-three {
    width: 40px;
    border: 1.9px solid white;
  }
  .navigation {
    /* grid-column: 1/4; */
    justify-self: start;
    position: fixed;
    left: 0;
    right: 0;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    z-index: 100;
    height: 0;
    width: 100vw;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
  }

  .history {
    position: relative;
  }

  .schedule {
    position: relative;
  }

  .text {
    height: auto;
    display: block;
  }

  .seats {
    height: auto;
    display: block;
  }

  .history-title {
    font-size: 1.4rem;
    /* Remove all grid properties */
    grid-column: initial;
    justify-self: initial;
    align-self: initial;
    /* Simple centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    text-align: center;
    white-space: nowrap;
  }

  .history-btn {
    height: 40px;
    width: 100px;
    font-size: .8rem;
    /* Remove all grid properties */
    grid-column: initial;
    justify-self: initial;
    align-self: initial;
    /* Position at bottom center */
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
  }

  .service-title {
    font-size: 1.4rem;
    /* Remove all grid properties */
    grid-column: initial;
    justify-self: initial;
    align-self: initial;
    /* Simple centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    text-align: center;
    white-space: nowrap;
  }

  .service-btn {
    height: 40px;
    width: 100px;
    font-size: .8rem;
    /* Remove all grid properties */
    grid-column: initial;
    justify-self: initial;
    align-self: initial;
    /* Position at bottom center */
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
  }

  footer {
    grid-row: 4/5;
    height: 100%;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .footer-list {
    display: flex;
    grid-row: 1/2;
    grid-column: 1/4;
    font-size: .9rem;
    justify-content: space-around;
    width: 100%;
  }

  .footer-logo {
    grid-row: 2/3;
  }

  .long-logo {
    margin-right:-72%;
    grid-row: 2/3;
  }

  .insta {
    grid-row: 2/3;
  }
}

@media (max-width: 375px) {
  body {
    width: 100%;
  }

  .long-logo {
    margin-right: -90%;
  }
}

@media (max-width: 320px) {
  body {
    width: 100%;
  }


  .long-logo {
    margin-right: -120%;
  }
}
