/* RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* RESET END */

/* BODY */

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 2fr .5fr;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .5s ease-in-out;
}

a {
text-decoration: none;
color: white;
}

.blur {
  filter: blur(10px);
}

.no-blur {
  filter: blur(0);
}

/* HEADER ROOT VARIABLES */

:root {
  --header-width: 100%;
  --header-column: 1/4;
  --header-row: 1/2;
  --header-image-width: 100%;
  --header-image-height: 100%;
  --header-image-column: 1/4;
  --header-image-position: relative;
  --logo-column: 2/3;
  --logo-position: absolute;
  --logo-justify-self: center;
  --logo-width-height: 220px;
  --logo-align-self: start;
  --logo-margin-top: -50px;

  --header-container-column: 1/4;
  --header-container-height: 100%; 
}

/* ROOT VARIABLES END */

/* HEADER STYLES */

header {
  grid-column: var(--header-column);
  width: var(--header-width);
  grid-row: var(--header-row);
}

/* .header-container::backdrop {
  backdrop-filter: blur(0);
  transition: backdrop-filter .5s ease-in-out;
} */

.header-container {
  grid-column-start: 1;
  grid-column-end: 4;
  height: var(--header-container-height);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 105%;
  filter: blur(0px);
  transition: filter .5s ease-in-out;
}

.page-image {
  width: var(--header-image-width);
  height: var(--header-image-height);
  grid-column: var(--header-image-column);
}

.logo {
  justify-self: var(--logo-justify-self);
  grid-column: var(--logo-column);
  position: var(--logo-position);
  width: var(--logo-width-height);
  height: var(--logo-width-height);
  align-self: var(--logo-align-self);
  margin-top: var(--logo-margin-top);
  cursor: pointer;
}

h1 {
  justify-self: center;
  grid-column: 2/3;
  align-self: center;
  color: white;
  position: absolute;
}
  /* NAV STYLES */

  .icon-container {
      grid-column-start: 3;
      grid-column-end: 4;
      position: absolute;
      justify-self: end;
      margin-top: 9%;
      margin-right: 16%;
    }

    .nav-icon-one {
      width: 40px;
      border: 2px solid white;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
      position: relative;
    }
  
    .nav-icon-two {
      width: 40px;
      border: 2px solid white;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
      margin-top: 6px;
    }
  
    .nav-icon-three {
      width: 40px;
      border: 2px solid white;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
      margin-top: 6px;
    }
  
    @keyframes rotate {
      0% {
        transform: rotate(0);
      }
  
      100% {
        transform: rotateY(-180deg);
      }
    }
  
    .icon-container:hover {
      cursor: pointer;
      animation: rotate .5s ease-in-out 1;
    }

    nav {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }

    .navigation {
      grid-column: 3/4;
      justify-self: end;
      position: absolute;
      background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
      height: 100%;
      width: 0px;
      overflow: hidden;
      transition: width 0.5s ease-in-out;
    }

    .exit {
      width: 25px;
      height: 25px;
      margin: 5% 0 0 5%;
    }

    .exit:hover {
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      grid-row: 1/5;
      line-height: 100px;
      font-size: 1.2rem;
    }

    .nav-icon-one {
      width: 40px;
      border: 2px solid white;
      grid-column: 3/4;
      justify-self: center;
      /* position: relative */
    }

    .nav-icon-two {
      width: 40px;
      border: 2px solid white;
      grid-column: 3/4;
      justify-self: center;
      margin-top: 6px;
    }

    .nav-icon-three {
      width: 40px;
      border: 2px solid white;
      grid-column: 3/4;
      justify-self: center;
      margin-top: 6px;
    }
    /* NAV STYLES END */

/* HEADER STYLES END */

/* MAIN STYLES START */

main {
grid-row: 2/3;
grid-column: 1/4;
display: grid;
grid-template-columns: repeat(3, 1fr);
margin-top: 5%;
}

.service-box {
background-color: white;
width: 55%;
align-self: center;
justify-self: center;
}

.info-box {
  width: 100%;
  height: 100%;
  padding: 30px;
  background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.info-title {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  align-self: start;
}

.service-hours {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  align-self: start;
  margin-top: 15%;
}

.service-description {
  grid-column: 1/4;
  grid-row: 2/4;
  font-size: 1.2em;
  width: 70%;
  justify-self: center;
}

.info-exit {
  height: 25px;
  width: 25px;
  grid-column: 3/4;
  justify-self: end;
  margin-top: 3%;
  margin-right: 5%;
  cursor: pointer;
}

.sundays {
grid-column: 1/2;
grid-row: 1/1;
width: 100%;
height: 100%;
display: grid;
}

.sunday-image {
height: 300px;
width: 300px;
justify-self: center;
align-self: center;
cursor: pointer;
filter: blur(0px);
opacity: 100;
transition: filter .5s ease-in-out;
}

.tuesdays {
grid-column: 2/3;
grid-row: 1/1;
width: 100%;
height: 100%;
display: grid;
}

.tuesday-image {
height: 300px;
width: 300px;
justify-self: center;
align-self: center;
cursor: pointer;
filter: blur(0px);
transition: filter .5s ease-in-out;
}

.santa-cena {
grid-column: 3/4;
grid-row: 1/1;
width: 100%;
height: 100%;
display: grid;
}

.cena-image {
height: 300px;
width: 300px;
justify-self: center;
align-self: center;
cursor: pointer;
filter: blur(0px);
transition: filter .5s ease-in-out;
}

.vigilia {
grid-column: 2/3;
grid-row: 2/2;
width: 100%;
height: 100%;
display: grid;
}

.vigilia-image {
height: 300px;
width: 300px;
justify-self: center;
align-self: center;
cursor: pointer;
filter: blur(0px);
transition: filter .5s ease-in-out;
}

#service-box {
  opacity: 100;
  transition: opacity .8s ease-in-out;
}

/* FOOTER */

footer {
  grid-column: 1/4;
  grid-row: 3/4;
  background-color: black;
  filter: blur(0px);
  transition: filter .5s ease-in-out;
}

.footer-container {
grid-column-start: 1;
grid-column-end: 4;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
width: 100%;
height: 200px;
}

.footer-logo {
  width: 50px;
  height: 50px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  align-self: center;
  margin-left: 15%;
}

.long-logo {
  width: 105px;
  height: 105px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  margin-right: 38%;
}

.footer-container ul li a {
  color: white;
  text-decoration: underline;
}

.footer-container li {
  margin-bottom: -55px;
}

.footer-list {
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;
  margin-right: 30%;
  font-size: 1rem;
  font-weight: bold;
}

.insta {
  height: 18px;
  width: 18px;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
  margin-right: 25%;
}

.insta:hover {
  cursor: pointer;
}

/* MEDIA QUERIES */

@media (max-width: 1920px) {
  .sunday-description {
    text-align: center;
    line-height: 40px;
  }

  .tuesday-description {
    text-align: center;
    line-height: 40px;
  }

  .cena-description {
    text-align: center;
    line-height: 40px;
  }

  .vigil-description {
    text-align: center;
    line-height: 40px;
  }
}

@media (max-width: 1199px) {
  body {
    width: 100%;
  }

  main {
    margin-top: 2%;
  }

  .sunday-image, .tuesday-image, .cena-image, .vigilia-image {
    height: 250px;
    width: 250px;
  }

  .sunday-description {
    text-align: center;
  }

  .sunday-hours {
    margin-top: 20%;
  }

  .tuesday-description {
    text-align: center;
    grid-row: 1/4;
    align-self: center;
    margin-top: 10%;
  }

  .info-exit {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .cena-description {
    text-align: center;
  }

  .cena-hours {
    grid-column: 1/4;
    margin-top: 8%;
  }

  .vigil-description {
    text-align: center;
  }

  .vigil-hours {
    grid-column: 1/4;
    margin-top: 8%;
  }
}

@media (max-width: 1440px) {
  body {
    width: 100%;
  }

  main {
    margin-top: 3%;
  }
}

@media (max-width: 1280px) {
  body {
    width: 100%;
  }

  .sunday-image, .tuesday-image, .cena-image, .vigilia-image {
    height: 250px;
    width: 250px;
  }

  .sunday-description {
    grid-row: 1/4;
    align-self: center;
  }

  .sunday-hours {
    margin-top: 22%;
  }

  .info-exit {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .tuesday-description {
    grid-row: 1/4;
    align-self: center;
    margin-top: 15%;
  }

  .cena-hours {
    grid-column: 1/4;
    margin-top: 8%;
  }

  .vigil-hours {
    grid-column: 1/4;
    margin-top: 8%;
  }
}

@media (max-width: 1200px) {
  .sunday-description {
    font-size: 1.1em;
  }

  .tuesday-description {
    font-size: 1.1em;
  }

  .cena-description {
    grid-row: 1/4;
    align-self: center;
    font-size: 1.1em;
  }

  .vigil-description {
    grid-row: 1/4;
    align-self: center;
    font-size: 1.1em;
  }
}


@media (max-width: 1100px) {
  body {
    width: auto;
  }

  .sunday-image, .tuesday-image, .cena-image, .vigilia-image {
    height: 240px;
    width: 240px;
  }

  .sunday-description {
    font-size: 1em;
  }

  .tuesday-description {
    font-size: 1em;
  }

  .cena-description {
    font-size: 1em;
  }

  .vigil-description {
    font-size: 1em;
}
}

@media (max-width: 1024px) {
  body {
    width: auto;
  }

  .sunday-image, .tuesday-image, .cena-image, .vigilia-image {
    height: 220px;
    width: 220px;
  }

  .sunday-title {
    font-size: 1.4em;
  }

  .service-description {
    width: 90%;
    font-size: 1.1em;
    line-height: 30px;
  }

  .tuesday-description {
    grid-row: 1/4;
    align-content: end;
    margin-bottom: 10%;
  }

  .info-exit {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .sunday-hours {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: start;
    justify-content: center;
    font-size: 1em;
    margin-top: 8%;
    padding: 0;
  }

  .cena-hours {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: start;
    justify-content: center;
    font-size: 1em;
    margin-top: 8%;
    padding: 0;
  }

  .vigil-hours {
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: start;
    justify-content: center;
    font-size: 1em;
    margin-top: 8%;
    padding: 0;
  }
}

@media (max-width: 900px) {
  body {
    width: auto;
  }

  .sunday-image, .tuesday-image, .cena-image, .vigilia-image {
    height: 190px;
    width: 190px;
  }

  .sunday-title {
    font-size: 1.3em;
    grid-column: 1/4;
    grid-row: 1/2;
    justify-self: center;
  }
}

@media (max-width: 800px) {
  body {
    width: auto;
  }

  .sunday-image, .tuesday-image, .cena-image, .vigilia-image {
    height: 180px;
    width: 180px;
  }

  footer {
    height: 205px;
  }

  .tuesday-description {
    grid-row: 1/4;
    align-content: end;
    font-size: 1em;
    margin-bottom: 5%;
  }
}

@media (max-width: 768px) {
  .sunday-description {
    font-size: 1em;
  }

  .cena-description {
    font-size: 1em;
}

  .vigil-description {
    font-size: 1em;
  }
}

@media (max-width: 428px) {
  body {
    width: 100%;
    overflow-x: hidden;
    grid-template-rows: 1.6fr 2fr .5fr;
  }

  .logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -10%;
    z-index: 1;
  }

  .icon-container {
    position: absolute;
    top: 20px;
    right: 8%;
    margin-top: 0;
    margin-right: 0;
    z-index: 2;
  }

  .nav-icon-one, .nav-icon-two, .nav-icon-three {
    width: 40px;
    border: 1.9px solid white;
  }

  .navigation {
    grid-column: 1/4;
    justify-self: start;
    position: fixed;
    left: 0;
    right: 0;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    z-index: 100;
    height: 0;
    width: 100vw;
    overflow-y: auto;
    transition: height 0.5s ease-in-out;
  }

  .main-container {
    z-index: -1;
  }

  .sunday-image, .tuesday-image, .cena-image, .vigilia-image {
    height: 135px;
    width: 135px;
  }

  .info-box {
    padding: 15px;
  }

  .sunday-description {
    font-size: .9em;
    line-height: 28px;
    grid-row: 1/4;
    align-self: center;
    text-align: center;
    margin-top: 15%;
  }

  .sunday-title {
    font-size: 1.2em;
  }

  .sunday-hours {
    margin-top: 15%;
  }

  .info-exit {
    height: 20px;
    width: 20px;
  }

  .tuesday-description {
    font-size: .9em;
    line-height: 28px;
    grid-row: 1/4;
    align-self: center;
    text-align: center;
    margin-top: 15%;
  }

  .tuesday-title {
    font-size: 1.2em;
  }

  .cena-description {
    font-size: 1em;
    line-height: 28px;
    grid-row: 1/4;
    align-self: center;
    text-align: center;
    margin-top: 15%;
  }

  .cena-title {
    font-size: 1.2em;
  }

  .cena-hours {
    margin-top: 15%;
  }

  .vigil-description {
    font-size: 1em;
    line-height: 28px;
    grid-row: 1/4;
    align-self: center;
    text-align: center;
    margin-top: 15%;
  }

  .vigil-title {
    font-size: 1.2em;
  }

  .vigil-hours {
    margin-top: 15%;
  }

}

@media (max-width: 375px) {
  body {
    width: 100%;
    overflow: hidden;
    grid-template-rows: 1.5fr 2fr 1fr;
  }

  .logo {
    width: 130px;
    height: 130px;
  }

  .sunday-image, .tuesday-image, .cena-image, .vigilia-image {
    height: 120px;
    width: 120px;
  }

  footer {
    height: 100%;
  }

  .tuesday-description {
    margin-top: 30%;
  }

  .tuesday-title {
    grid-column: 1/4;
    font-size: 1.1em;
  }

  .tuesday-hours {
    grid-column: 1/4;
    margin-top: 10%;
  }

  .cena-title {
    grid-column: 1/4;
  }

  .cena-hours {
    margin-top: 15%;
  }

  .vigil-hours {
    margin-top: 15%;
  }
}

@media (max-width: 320px) {
  .logo {
    width: 110px;
    height: 110px;
  }

  .sunday-image, .tuesday-image, .cena-image, .vigilia-image {
    height: 100px;
    width: 100px;
  }
}
