/* RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  /* RESET END */

  /* BODY */

  body {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr .16fr;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }

  a {
    text-decoration: none;
    color: white;
  }

  /* HEADER ROOT VARIABLES */

  :root {
    --header-width: 100%;
    --header-column: 1/4;
    --header-row: 1/2;
    --header-image-width: 100%;
    --header-image-height: 100%;
    --header-image-column: 1/4;
    --header-image-position: relative;
    --logo-column: 2/3;
    --logo-position: absolute;
    --logo-justify-self: center;
    --logo-width-height: 220px;
    --logo-align-self: start;
    --logo-margin-top: -50px;
  
    --header-container-column: 1/4;
    --header-container-height: 100%; 
  }

  /* ROOT VARIABLES END */

  /* HEADER STYLES */

  header {
    grid-column: var(--header-column);
    width: var(--header-width);
    grid-row: var(--header-row);
  }

  .header-container {
    grid-column: 1/4;
    height: var(--header-container-height);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
  }

  .header-img {
    width: var(--header-image-width);
    height: var(--header-image-height); 
    grid-column: var(--header-image-column);
  }

  .logo {
    justify-self: var(--logo-justify-self);
    grid-column: var(--logo-column);
    position: var(--logo-position);
    width: var(--logo-width-height);
    height: var(--logo-width-height);
    align-self: var(--logo-align-self);
    margin-top: var(--logo-margin-top);
    cursor: pointer;
  }

    /* NAV STYLES START */

    .icon-container {
      grid-column-start: 3;
      grid-column-end: 4;
      position: absolute;
      justify-self: end;
      margin-top: 3%;
      margin-right: 5%;
    }

    .nav-icon-one {
      width: 40px;
      border: 2px solid white;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
      position: relative;
    }
  
    .nav-icon-two {
      width: 40px;
      border: 2px solid white;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
      margin-top: 6px;
    }
  
    .nav-icon-three {
      width: 40px;
      border: 2px solid white;
      grid-column-start: 3;
      grid-column-end: 4;
      justify-self: center;
      margin-top: 6px;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0);
      }
  
      100% {
        transform: rotateY(-180deg);
      }
    }
  
    .icon-container:hover {
      cursor: pointer;
      animation: rotate .5s ease-in-out 1;
    }

    nav {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }

    .navigation {
      grid-column: 3/4;
      justify-self: end;
      position: absolute;
      background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
      height: 100%;
      width: 0;
      transition: width 0.5s ease-in-out;
      height: 133%;
    }

    .exit {
      width: 25px;
      height: 25px;
      margin: 5% 0 0 5%;
    }

    .exit:hover {
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      grid-row: 1/5;
      line-height: 100px;
      font-size: 1.2rem;
    }

    .service {
      display: grid;
      grid-template-columns: 1fr;
      height: 25%;
    }

    .sunday {
      grid-column: 1/2;
      grid-row: 2/3;
      display: none;
      justify-self: center;
      align-self: start;
    }

    .tuesday {
      grid-column: 1/2;
      grid-row: 3/4;
      display: none;
      justify-self: center;
      align-self: start;
    }

    .cena {
      grid-column: 1/2;
      grid-row: 4/5;
      display: none;
      justify-self: center;
      align-self: start;
    }
    /* NAV STYLES END */

  /* HEADER STYLES END */

  /* MAIN STYLES START */

  .main-container {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-items: center;
    display: grid;
    grid-template-rows: .2fr 1fr;

  }

  h1 {
    grid-row: 1/2;
    align-self: start;
    grid-column: 1/2;
    margin-top: 1%;
  }

  figure {
    grid-row: 1/2;
    align-self: start;
    margin-top: 4%;
    grid-column: 1/2;
    font-size: 1.1em;
  }

  .info-container {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
  }

  .main-info {
    font-size: 1.3em;
    line-height: 45px;
    text-indent: 3.5em;
    text-wrap: pretty;
    text-align: center;
  }

  /* MAIN STYLES END */

  /* FOOTER STYLES START */

  footer {
    align-self: center;
    height: 100%;
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: black;
  }

.footer-container {
grid-column-start: 1;
grid-column-end: 4;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
width: 100%;
height: 200px;
}

.footer-logo {
  width: 50px;
  height: 50px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  align-self: center;
  margin-left: 15%;
}

.long-logo {
  width: 105px;
  height: 105px;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  margin-right: 38%;
}

.footer-container ul li a {
  color: white;
  text-decoration: underline;
}

.footer-container li {
  margin-bottom: -55px;
}

.footer-list {
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;
  margin-right: 30%;
  font-size: 1rem;
  font-weight: bold;
}

.insta {
  height: 18px;
  width: 18px;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
  margin-right: 25%;
}

.insta:hover {
  cursor: pointer;
}

/* MEDIA QUERIES */

@media (max-width: 1100px) {
  .info-container {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .main-info {
    font-size: 1.1em;
  }
}

@media (max-width: 900px) {
  figure {
    margin-top: 7%;
  }

  .main-info {
    line-height: 35px;
  }
}

@media (max-width: 800px) {
  .main-info {
    font-size: 1em;
    line-height: 33px;
  }

  figure {
    font-size: 1.1em;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 6%;
  }
}

@media (max-width: 768px) {
  .info-container {
    width: 80%;
  }
  .main-info {
    text-align: center;
  }
}

@media (max-width: 428px) {
  .navigation {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: start;
    position: fixed;
    left: 0;
    right: 0;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    z-index: 100;
    height: 0;
    width: 100vw;
    overflow-y: auto;
    transition: height 0.5s ease-in-out;
  }
}
